<%= form_with model: note do |form| %>
  <div class="form-group">
    <%= form.text_field :message, class: 'form-control', placeholder: t('titles.note_placeholder') %>
  </div>

  <br>

  <%= form.submit t('buttons.create_note'), class: 'btn btn-primary' %>
<% end %>

<br>
